<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="base02.css">
  <script src='https://unpkg.com/vue'></script>
  <title>Vue</title>
</head>

<body>
  <div id="app">
    <h1>键盘 Events</h1>
    <label>姓名：</label>
    <input ref='name' type="text" v-on:keyup='logName'>
    <span>{{ name }}</span>
    <label>年龄：</label>
    <input ref='age' type="text" v-on:keyup='logAge'>
    <span>{{ age }}</span>
    <br>
    <label>姓名：</label>
    <input ref='name' type="text" v-model='name'>
    <span>{{ name }}</span>
    <label>年龄：</label>
    <input ref='age' type="text" v-model='age'>
    <span>{{ age }}</span>

    <h1>计算属性 Computed</h1>
    <button v-on:click='a++'>Add to A</button>
    <button v-on:click='b++'>Add to B</button>
    <p>A - {{a}}</p>
    <p>B - {{b}}</p>
    <!-- <p>Age + A = {{ addToA() }}</p>
    <p>Age + B = {{ addToB() }}</p> -->
    <p>Age + A = {{ addToA }}</p>
    <p>Age + B = {{ addToB }}</p>

    <h1>CSS style绑定</h1>
    <h2 v-bind:class='{red: true, blue: true}'>实例1</h2>
    <div v-bind:class='{changeColor: changeColor}' v-on:click='changeColor = !changeColor'>
      <span>hello</span>
    </div>
    <h2>实例2</h2>
    <button v-on:click='changeColor = !changeColor'>changeColor</button>
    <button v-on:click='changeLength = !changeLength'>changeLength</button>
    <div v-bind:class='compClass'>
      <span>world</span>
    </div>


  </div>
  <script src='base02.js'></script>
</body>

</html>